//- Get lang from page, or siteinfo, or set to default "en"
- var lang = page.lang || siteinfo.lang || "en_US";
html(lang=lang.replace(/_.*$/,""))
  head
    //- Required meta tags (best practices)
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    //- HEAD = the rest of the head tags
    block head
      
      //- Title and description
      - let title = (page.title ? page.title + " - " : "")  + (siteinfo.name || "Camila San Miguel");
      - let desc = page.description || siteinfo.description || "";
      block usual
        title #{title}
        meta(name="description" content=desc)

      //- Author and copyright information
      - let author = page.author || siteinfo.author
      - let copyright = page.copyright || author
      meta(name="author" content=author)
      meta(name="copyright" content=copyright)

      block styles
        link(rel="stylesheet" href="/styles/main.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,400i,700|Montserrat:200,400")

        
      - let url = page.url || "/"
      - let mainImage = page.mainImage || siteinfo.mainImage || ""
      //- OPENGRAPH Tags (Facebook: https://developers.facebook.com/docs/sharing/webmasters)
      meta(property="og:locale" content=lang)
      block opengraph
        - let openType = page.type || ""
        meta(property="og:url" content=url)
        meta(property="og:type" content=openType)
        meta(property="og:title" content=page.title)
        meta(property="og:description" content=desc)
        meta(property="og:image" content=mainImage)


      //- TWITTER Tags (Twitter: https://dev.twitter.com/cards/types/summary-large-image)
      block twitter
        - let twitterUser = page.twitter || "";
        - let twitterSite = siteinfo.twitter || "";
        meta(property="twitter:card" content="summary_large_image")
        meta(property="twitter:site" content=twitterSite)
        meta(property="twitter:creator" content=twitterUser)
        meta(property="twitter:title" content=page.title)
        meta(property="twitter:description" content=desc)
        meta(property="twitter:image" content=mainImage)

      block scripts

  body
    block body
    footer.footer
      //- .search
      //-   input(placeholder="Search")
      .copyright
        - var notice = "Copyright © "+(new Date().getFullYear())
        span #{notice}

    script(src="/scripts/main.min.js")
    script
      include google-analytics.js
      block scripts
